<div class="create-new-list">
  <div mat-dialog-content>

    <h3 class="create-new-list__header">Новый список:</h3>

    <mat-form-field>
      <mat-label>Введите название списка</mat-label>

      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button class="create-new-list__cancel" mat-button (click)="onCancel()">Отмена</button>

    <button class="create-new-list__create" mat-button (click)="onCreateNewList(name)">Создать</button>
  </div>
</div>
