<mat-card class="list" (click)="openListItems()">
  <mat-card-title class="list__name">{{list.name}}</mat-card-title>

  <mat-card-content class="list__progress" [class.list__all-items-done]="isEverythingDone">
    {{list.completed}}/{{list.total}}
  </mat-card-content>

  <div class="list__menu-button">
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button class="list__edit" mat-menu-item (click)="openEditDialog()">
        <span>Редактировать</span>
      </button>

      <button class="list__delete" mat-menu-item (click)="onDeleteList()">
        <span>Удалить</span>
      </button>
    </mat-menu>
  </div>

  <mat-progress-bar class="list__progress-bar" mode="determinate" [value]="listProgress"></mat-progress-bar>
</mat-card>
