.create-list {
  width: 100%;
}

.create-list__header {
  text-align: center;
  font-size: 20px;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: space-between;
}

button[mat-button] {
  font-size: 20px
}

/*to override* the default styles of the form*/
::ng-deep #cdk-overlay-0.cdk-overlay-pane {
  max-width: 100%;
  width: 400px;
  height: 200px;
}
