.edit-item__item-previous-name {
  font-weight: bold
}

.edit-item {
  width: 100%;
}

.edit-item__header {
  text-align: center;
  font-size: 20px;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: space-between;
}

button[mat-button] {
  font-size: 20px
}
