.item {
  margin: 10px;
  display: grid;
  grid-template-columns: auto 40px 40px;

  &__name, &__state {
    display: flex;
    align-items: center;
  }
}

.completedItem {
  background-color: #dcdbd5;
}
