<h1 class="list-items__title">Список '{{ listName$ | async }}'</h1>

<div class="list-items_search">
  <mat-form-field appearance="outline">
    <mat-label>Искать</mat-label>
    <input [(ngModel)]="searcher" matInput>
  </mat-form-field>
</div>

<div *ngFor="let item of items$ | async | search: searcher">
  <app-item [item]="item" [listId]="listId"
  (deleteItem)="onDeleteItem($event)"
  (changeItem)="onChangeItem($event)"
  (changeName)="onChangeName($event)">
</app-item>
</div>

<app-create-item-button (createItem)='onCreateItem($event)'></app-create-item-button>
